# Created by https://www.gitignore.io/api/images
# Edit at https://www.gitignore.io/?templates=images

### Images ###
# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# JPEG 2000
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2


# Graphics Interchange Format
*.gif

# RAW
*.raw

# Web P
*.webp

# Portable Network Graphics
*.png

# Multiple-image Network Graphics
*.mng

# Portable Document Format
*.pdf

# X BitMap
*.xbm

# BMP
*.bmp
*.dib



# End of https://www.gitignore.io/api/images